* {
	font-family: 'Jaldi', sans-serif;
	font-weight: 400;
	font-size: 22px;
}

body {
	background-image: url(../img/small_steps.png);
}

/* Game grid */
.square{
    border: 1px solid #006989;
    background-color: #0094C6;
    opacity: 0.4;
    width:120px !important;
    height:120px !important;
}

.square:hover {
    background-color: #005E7C;
}

.square:active {
	border-style: double;
	background-color: #A3BAC3;
}

/* Player Panel */
.player-turn {
	border: 2px solid #0094C6;
}

/* Overriding Bootstrap components */
.jumbotron {
	/* Set jumbotron background to transparent */
	background-color:rgba(0, 0, 0, 0); 
}
footer {
	text-align: center;
 	border-top: solid 1px #cce6ff;
 	width:100%;
 	bottom: 0;
 	height: 40px;
}