html {
	width: 100%;
}

body {
	width: 100%;
	background-image: url(../img/small_steps.png);
	font-family: 'Jaldi', sans-serif;
	font-size: 26px;
}


/* Game panel */

.game-panel {
	text-align: center;
}

.panel-button {
	height: 35px;
	width: 45%;
	background-color: #A3BAC3;
	display: inline-block;
}

.panel-button:hover {
	background-color: #EAEBED;
	opacity: 0.8;
}

/* Game grid */

.grid-container {
	margin-top: 20px;
}

#game-grid {
	display: inline-block;
}

.square{
    border: 2px solid #006989;
    background-color: #235789;
	opacity: 0.5;
    width:120px !important;
    height:120px !important;
}

.square:hover {
    background-color: #EAEBED;
	opacity: 1;
}

.square:active {
	opacity: 1;
	/*border-color: #445860;*/
	border-style: double;
	background-color: #A3BAC3;
}

/* Player Panel */

.player-panel {
	text-align: center;
}

.player {
	width: 45%;
	height: 45%;
	display: inline-block;
	visibility: hidden;
}

.player-turn {
	background-color: #A3BAC3;
	border-bottom: 2px solid black;
}